<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <% for(var i=0; i<length; i++){ %>
          <li>
              <%= "LOOP" + i %>
          </li>
      <% } %>
  </ul>
  <% if(id){ %>
      <h2>Welcome! <%= id %> (name: <%= name %>)</h2>
  <% }else{ %>
      <h2> Please Login. </h2>
  <% } %>
  </body>
</html>
